# ----------------------------

# Python

# ----------------------------

**pycache**/
*.py[cod]
*$py.class
*.pyc

# ----------------------------

# Virtual Environment

# ----------------------------

venv/
env/
ENV/
.venv/

# ----------------------------

# Django

# ----------------------------

*.log
*.pot
db.sqlite3
media/

# Static files

staticfiles/

# ----------------------------

# Environment Variables

# ----------------------------

.env

# ----------------------------

# Dataset (ML training data)

# ----------------------------

dataset/
dataset/train/
dataset/test/

# ----------------------------

# Machine Learning Models

# ----------------------------

*.h5
*.hdf5
*.pt
*.pth
*.pkl
*.joblib
*.model
*.onnx

# ----------------------------

# Jupyter Notebook

# ----------------------------

.ipynb_checkpoints/

# ----------------------------

# IDE

# ----------------------------

.vscode/
.idea/

# ----------------------------

# OS Files

# ----------------------------

.DS_Store
Thumbs.db
