.product-page{
  padding:60px 20px;
  display:flex;
  justify-content:center;
  background:#f9fafb;
}

.product-container{
  display:grid;
  grid-template-columns:520px 1fr;
  gap:70px;
  max-width:1200px;
  width:100%;
  align-items:center;
}

/* IMAGE */

.product-image{
  width:520px;
  height:420px;
  overflow:hidden;
  border-radius:18px;
  box-shadow:0 12px 30px rgba(0,0,0,0.15);
}

.product-image img{
  width:100%;
  height:100%;
  object-fit:cover;
}
/* DETAILS */

.product-details{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.product-title{
  font-size:32px;
  font-weight:700;
}

.product-meta{
  display:flex;
  align-items:center;
  gap:25px;
}

.category{
  background:#e5f7ec;
  padding:6px 12px;
  border-radius:8px;
  font-size:14px;
}

.price{
  font-size:28px;
  font-weight:bold;
  color:#16a34a;
}

/* DESCRIPTION */

.description{
  line-height:1.7;
  color:#444;
}

/* STOCK */

.stock-info{
  font-weight:600;
}

.in-stock{
  color:#16a34a;
}

.out-stock{
  color:#dc2626;
}

/* QUANTITY */

.quantity-selector{
  display:flex;
  align-items:center;
  gap:15px;
}

.quantity-selector button{
  width:40px;
  height:40px;
  border:none;
  border-radius:10px;
  font-size:18px;
  background:#f1f5f9;
  cursor:pointer;
}

.qty-number{
  font-size:18px;
  font-weight:600;
}

/* BUTTONS */

.action-buttons{
  display:flex;
  gap:20px;
}

.add-btn{
  background:#2563eb;
  color:white;
  padding:12px 22px;
  border-radius:12px;
  border:none;
  cursor:pointer;
  font-weight:600;
}

.buy-btn{
  background:#16a34a;
  color:white;
  padding:12px 22px;
  border-radius:12px;
  border:none;
  cursor:pointer;
  font-weight:600;
}

.add-btn:hover{
  background:#1d4ed8;
}

.buy-btn:hover{
  background:#15803d;
}

/* BACK */

.back-btn{
  background:none;
  border:none;
  color:#555;
  cursor:pointer;
  margin-top:10px;
}

/* MOBILE */

@media(max-width:900px){

.product-container{
grid-template-columns:1fr;
}

.product-image{
width:100%;
height:350px;
}

}